
.container{
    margin:0;
    padding: 0;
}

.table{
    padding: 20px;
    margin: 150px;
}
.btn-primary{
    margin: 10px;
    text-decoration: none;
    background-color: #415098;
}

.row{
    margin: 120px;
}